@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.wrapper{
}
.nav-link,.nav-link:visited,.nav-link:hover,.nav-link:active{
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  position:relative;
  transition:0.5s color ease;
  text-decoration:none;
  color:#81b3d2;
}
.nav-link:hover{
    color: skyblue;
    text-decoration-color: white;
}
.nav-link.before:before,.nav-link.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  position:absolute;
}
.nav-link.before:before{
  top:-0.25em;
}
.nav-link.after:after{
  bottom:-0.25em;
}
.nav-link.before:before,.nav-link.after:after{
  height:5px;
  height:0.35rem;
  width:0;
  background:indianred;
}
.nav-link.first:after{
  left:0;
}
.nav-link.second:after{
  right:0;
}
.nav-link.third:after,.nav-link.sixth:before,.nav-link.sixth:after{
  left:50%;
  -webkit-transform:translateX(-50%);
  transform:translateX(-50%);
}
.nav-link.fourth:before,.nav-link.fourth:after{
  left:0;
}
.nav-link.fifth:before,.nav-link.fifth:after{
  right:0;
}
.nav-link.seventh:before{
  right:0;
}
.nav-link.seventh:after{
  left:0;
}
.nav-link.eigth:before{
  left:0;
}
.nav-link.eigth:after{
  right:0;
}
.nav-link.before:hover:before,.nav-link.after:hover:after{
  width:100%;
}
.square{
  box-sizing:border-box;
  margin-left:-0.4em;
  position:relative;
  font-size:2.5em;
  overflow:hidden;
}
.square .nav-link{
  position:static;
  font-size:100%;
  padding:0.2em 0.4em;
}
.square:before,.square:after{
  content: "";
  box-sizing:border-box;
  transition:0.25s all ease;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  position:absolute;
  width:5px;
  width:0.35rem;
  height:0;
  background:#d73444;
}
.square:before{
  left:0;
  bottom:-0.2em;
}
.square.individual:before{
  transition-delay:0.6s;
}
.square:after{
  right:0;
  top:-0.2em;
}
.square.individual:after{
  transition-delay:0.2s;
}
.square .nav-link:before{
  left:0;
  transition:0.25s all ease;
}
.square .nav-link:after{
  right:0;
  transition:0.25s all ease;
}
.square.individual .nav-link:after{
  transition:0.25s all ease 0.4s;
}
.square:hover:before,.square:hover:after{
  height:calc(100% + 0.4em);
}
.square:hover .nav-link:before,.square:hover .nav-link:after{
  width:100%;
}